#main #right_panel .dashboard div.icon_announcement{
	background-image:url("../images/icon_grm_announcement_m.gif");	
}
#main #right_panel .dashboard div.icon_category{
	background-image:url("../images/icon_grm_category_m.gif");	
}
#main #right_panel .dashboard div.icon_grm{
	background-image:url("../images/icon_grm_contact_m.gif");	
}