<form id="{$form.name}" name="{$form.name}">
<div style="padding-left:25px; padding-right:20px;" class="dashboard_panel">
	<div class="dashboard_bg_light_header">
		<div class="title">{t}User & Group{/t}</div>
		<div class="icons">
			{php} if(BizSystem::allowUserAccess('User.Administer_Users')){ {/php}
			<a href="{$app_index}/system/user_list" class="icon_user">
				<img border="0" src="{$theme_url}/images/spacer.gif" />{t}User{/t}</a>
			{php} } {/php}
			
			{php} if(BizSystem::allowUserAccess('Role.Administer_Roles')){ {/php}
			<a href="{$app_index}/system/role_list" class="icon_role">
				<img border="0" src="{$theme_url}/images/spacer.gif"  />{t}Role{/t}</a>
			{php} } {/php}
				
			{php} if(BizSystem::allowUserAccess('Group.Administer_Groups')){ {/php}
			<a href="{$app_index}/system/group_list" class="icon_group">
				<img border="0" src="{$theme_url}/images/spacer.gif" />{t}Group{/t}</a>
			{php} } {/php}
		</div>
	</div>
	<div class="dashboard_bg_dark">
		<div class="title">{t}System{/t}</div>
		<div class="icons">
			{php} if(BizSystem::allowUserAccess('Module.Administer_Modules')){ {/php}
			<a href="{$app_index}/system/module_list" class="icon_module">
				<img border="0" src="{$theme_url}/images/spacer.gif" />{t}Module{/t}</a>
			{php} } {/php}	
						
			{php} if(BizSystem::allowUserAccess('Menu.Administer_Menu')){ {/php}
			<a href="{$app_index}/menu/menu_list" class="icon_menu_list">
				<img border="0" src="{$theme_url}/images/spacer.gif" />{t}Menu list{/t}</a>
			{php} } {/php}
		</div>
	</div>
</div>
</form>		