<form id="{$form.name}" name="{$form.name}" ng-controller="LoginFormController" ng-init="init('{$form.name}','{$form.dataService}')">
<!-- 	
<div class="cubi_logo_large" style="background-image:url({$app_url}/images/cubi_logo_large.png?rnd={php}echo rand();{/php})"></div>
 -->
 <table>
 	<tr>
 	<td>
 	
		<div class="cubi_logo_large" ></div>	
	</td>
	<td class="v_line">
	<div class="login_form " >
		<table><tr><td class="login-top-padding" valign="top">
		<div class="cubi_login_banner">
		<h1 id="welcome-message">
			{$smarty.const.DEFAULT_SYSTEM_NAME}{$use_login_welcome_message}
		</h1>
		</div>

		
		{if $dataPanel.username.label}
		<p class="input_row" ng-class="{literal}{{/literal} 'has-error' : errors.username {literal}}{/literal}">
			<label style="width:60px;">{$dataPanel.username.label}</label>
			<span style="width:200px; display:block;float:left;">{$dataPanel.username.element}</span>
			<span class="input_error_msg" ng-show="errors.username">{literal}{{{/literal} errors.username {literal}}}{/literal}</span>		
		</p>
		
		<p class="input_row" ng-class="{literal}{{/literal} 'has-error' : errors.password {literal}}{/literal}">
			<label style="width:60px;">{$dataPanel.password.label}</label>
			<span style="width:200px; display:block;float:left;">{$dataPanel.password.element}</span>
			<span class="input_error_msg" ng-show="errors.password">{literal}{{{/literal} errors.password {literal}}}{/literal}</span>		
		</p>
		{/if}

		{if $dataPanel.antispam.label}
		<p class="input_row">
			<label style="width:60px;">{$dataPanel.antispam.label}</label>
			<span style="width:200px; display:block;float:left;">{$dataPanel.antispam.element}</span>
			{if $errors.antispam}
			<span class="input_error_msg">{$errors.antispam}</span>
			{/if}		
		</p>
		{/if}

		{if $dataPanel.smartcard.label}
		<div class="input_row" style="height:140px;">
			<div style="height:30px;">
			<label style="width:120px;">{$dataPanel.smartcard.label}</label>
			</div>
			<div style="height:120px;">
			<span style="width:400px; display:block;float:left;">{$dataPanel.smartcard.element}</span>
			</div>			
		</div>
		{/if}		
		
		{if $dataPanel.session_timeout.label}
		<div class="input_row"  style="width:400px;display:block;height:35px;overflow:hidden;">
			<label style="width:60px;">{$dataPanel.session_timeout.label}</label>
			<span style="width:200px; display:block;height:35px;float:left;">{$dataPanel.session_timeout.element}</span>
			{if $errors.session_timeout}
			<span class="input_error_msg">{$errors.session_timeout}</span>
			{/if}		
		</div>	
		{/if}	
		{if $dataPanel.current_language.label}
		<div class="input_row" style="width:400px;display:block;height:35px;overflow:hidden;" >
			<label style="width:60px;">{$dataPanel.current_language.label}</label>
			<span style="width:200px; display:block;height:35px;float:left;">{$dataPanel.current_language.element}</span>
			{if $errors.current_language}
			<span class="input_error_msg">{$errors.current_language}</span>
			{/if}		
		</div>	
		{/if}
		{if $dataPanel.current_theme.label}
		<div class="input_row" style="width:400px;display:block;height:35px;overflow:hidden;">
			<label style="width:60px;">{$dataPanel.current_theme.label}</label>
			<span style="width:200px; display:block;height:35px;float:left;">{$dataPanel.current_theme.element}</span>
			{if $errors.current_theme}
			<span class="input_error_msg">{$errors.current_theme}</span>
			{/if}		
		</div>
		{/if}
						
		<p class="input_row" style="height:38px;padding-top:5px;padding-left:0px;clear:both" >
			<!-- onclick="document.getElementById('login_indicator').className='show'"  -->
			<span style="height:30px;display:block;">
			{foreach item=elem from=$actionPanel}
			{$elem.element}
			{/foreach}
			</span>
		</p>
			<!-- 
			{if $errors.login_status}
				<span id="login_indicator" class="show" style="float:none;text-indent:0px;">
				{$errors.login_status}
				</span>
			{else}
				<span id="login_indicator" class="hidden" style="float:none;text-indent:0px;">
				{t}Processing login...{/t}
				</span>
			{/if}
			 -->	

		<!--<div id='errorsDiv' class='innerError errorBox' ng-show="errors.login_status" style="width:235px;margin-bottom:10px">
			{literal}{{{/literal} errors.login_status {literal}}}{/literal}
		</div>-->
		
		<p class="input_row">
	    <span style="margin-right:10px;"> {$dataPanel.register_new.element}  </span> {$dataPanel.forget_pass.element}
		</p>

		</td></tr></table>
		</div>
		
	</td></tr></table>


</form>

<script>
{literal}
function LoginFormController($scope, $http, $window, $timeout) {
	$scope.dataobj = {};
	
	$scope.init = function(name, dataService) {
		$scope.name = name;
		$scope.dataService = dataService;
	}
	
	$scope.login = function() {
		console.log($scope.dataobj);
		var url = $scope.dataService+'/?method=login&format=json';
		var postQueryString = "argsJson="+angular.toJson($scope.dataobj);
		$http.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded; charset=UTF-8';
		$http.post(url, postQueryString).success(function(responseObj) {
			if (responseObj.data.redirect) {
				// redirect to new page
				$scope.redirect = responseObj.data.redirect;
				$window.location.href = $scope.redirect;
			}
			else if (responseObj.data.errors) {
				// display error
				$scope.errors = responseObj.data.errors;
				//$timeout(function(){$scope.errors = null;}, 3000);
				//alert("error: "+responseObj.data.error);
			}
		});
	}
}
{/literal}
</script>