<form id="{$form.name}" name="{$form.name}" >
<div class="register-block forget-passwd-sent">

	<div class="form-title-forgetpass"><h1>{$form.title}</h1></div>
		<p class="input_row form-desc-2" >
		{t} An email has been sent to you 
				which you can reset your password by clicking the click on the email.{/t}
		</p>
 
 		<p class="input_row top_line" ></p>

 		<p class="input_row form-desc-2">
		<span>{t} If you have not received the email , 
					please try to look at it in your spam email box. 
					if it is still not found it your may try to submit the form again to resend it.
					{/t}</span>
		</p>
		
		<p class="input_row">
		
			{foreach item=elem from=$actionPanel}
				{$elem.element}
			{/foreach}
		</p>
</div>


</form>
