<form id="{$form.name}" name="{$form.name}">
<style>
{literal}
.license_form{
padding-left:100px;
padding-top:50px;
height:340px;
background-repeat:no-repeat;
background-position:510px 105px;
}
.license_form .preview{
float:right;
margin-right:80px;
margin-top:20px;
}
.license_form h1{
font-size:20px;
line-height:20px;
display:block;
font-weight:normal;
padding-top:10px;
padding-bottom:10px;
}
.license_form .label{
color:#14A8F1;
line-height:30px;
}
.license_form .eula{
height:60px;
padding-top:15px;

width:400px;
}
.license_form .active_logic label{
float:none;
}
.license_form .active_logic label strong{
color:#ff0000;
}
.license_form .upline
{
background-image:url({/literal}{$resource_url}{literal}/common/images/h_line_short.png);
background-repeat:no-repeat;
background-position:0px 10px;
}
.license_form .hint
{
color:#999999;
height:25px;
font-style:italic;
}
.license_form .purchase-block
{
float:right;
padding-right:70px;
padding-left:50px;
width:200px;
padding-top:35px;
height:200px;
background-image:url({/literal}{$resource_url}{literal}/common/images/license_bg_arrow.png);
background-repeat:no-repeat;
background-position:0px 110px;;

}
.license_form .button_buy
{
	background-image:url({/literal}{$resource_url}{literal}/common/images/blue-button-buy_bg.png);
    background-position: left top;
    background-repeat: no-repeat;
    color: #FFFFFF;
    display: block;
    height: 27px;
    line-height: 26px;
    padding-right: 20px;
    text-align: center;
    width: 78px;
    text-decoration:none;
    margin-left:18px;
}
.license_form .button_buy:hover {
    background-position: left -27px;
}
.license_form .button_buy:active {
    background-position: left -54px;
}
{/literal}
</style>
<div class="license_form" >
{if $form.appInfo.APP_PREVIEW}	
	<div class="purchase-block">

		<a href="{$form.appInfo.APP_WEBSITE}"><img src="{$form.appInfo.APP_PREVIEW}" style="display:block;padding-bottom:0px;" border="0" /></a>
		<a href="{$form.appInfo.APP_PURCHASE}" class="button_buy" >{t}Purchase{/t}</a>
	</div>
{else}
	<div class="purchase-block" style="padding-top:55px;background-position:0px 130px;">
		<img src="{$resource_url}/common/images/license/app_preview.png" style="display:block;padding-bottom:10px;" border="0" />
	</div>
{/if}		

{if $form.appInfo.APP_WEBSITE}
	<a href="{$form.appInfo.APP_WEBSITE}"><img src="{$form.appInfo.APP_LOGO}" style="display:block;padding-bottom:10px;" border="0" /></a>
{else}
	<img src="{$resource_url}/common/images/license/app_logo.png" style="display:block;padding-bottom:10px;" border="0" />
{/if}

	<h1>{$form.title}</h1>
	<div>{$form.description}</div>
	<div class="active_logic">
		<span  style="line-height:22px;">{t}
The application you are running is protected by a license, 
But the license installed for this application is invaild

{/t}
{if $form.license_message}
{t}License error message below:{/t}
</span>
<div style="padding-left:0px;padding-bottom:10px;margin-top:5px;">
	<span style="border:1px solid #cccccc;display:block;width:320px;padding:5px 10px 5px 10px;background-color:#f0f0f0;">{$form.license_message}</span>
</div>
{/if}
	</div>
<div class="hint" style="height:30px;" >{t}If the software works before, then your license may expired{/t}</div>
	
	<div style="padding-top:5px;">
			{foreach item=elem from=$actionPanel}
				{$elem.element}
			{/foreach}
	</div>
</div>
</form>