<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1;user-scalable=0;"/>
<link rel="apple-touch-icon-precomposed" href="{$app_url}/images/touch-icon-iphone.png"/>
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{$app_url}/images/touch-icon-ipad.png"/>
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{$app_url}/images/touch-icon-iphone4.png"/>
<link rel="apple-touch-startup-image" href="{$app_url}/images/splash-ipad-w.jpg" media="only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)" />