<form id="{$form.name}" name="{$form.name}">

<div style="padding-left:25px;padding-right:20px;">
{include file="system_appbuilder_btn.tpl.html"}
	<table><tr><td>
		{if $form.icon !='' }
		<div class="form_icon"><img  src="{$form.icon}" border="0" /></div>
		{/if}
	
		<div style="float:left; width:600px;">
			<h2>
			{$form.title}
			</h2> 
			{if $form.description}
			<p class="input_row" style="line-height:20px;padding-bottom:20px;">		
			<span>{$form.description}</span>
			</p>
			{else}
			<div style="height:15px;"></div>
			{/if}
		</div>
	</td></tr></table>
		
		
		
	<div style="padding-left:30px;">	
	{assign var=col_counter value=0}      
	{foreach item=item key=itemName from=$dataPanel}	
	{capture name="column"}{math equation="x % 2" x=$col_counter}{/capture}
	
	{if $smarty.capture.column == "0"}		
			<table  class="input_row">				
			<tr>
				<td >			
					<label style="text-align:left;">{$item.label}</label>			
				</td>
				<td>
					<span class="label_text" style="width:200px;">{$item.element}</span>
				</td>
	{elseif  $smarty.capture.column == "1"}
				<td >			
					<label style="text-align:left;">{$item.label}</label>			
				</td>
				<td>
					<span class="label_text" style="width:200px;">{$item.element}</span>
				</td>		
			</tr> 
			</table>				
	{/if}	


	{if $col_counter+1 eq $dataPanel|@count AND $smarty.capture.column!='1'}
			</tr>
		</table>
	{/if}			
	{assign var=col_counter value=$col_counter+1}
	{/foreach}
		
		<div style="height:10px;"></div>
		
	 	{if $actionPanel|@count > 0}
		<p class="input_row">
			
			{foreach item=elem from=$actionPanel}
				{$elem.element}
			{/foreach}
		</p>
		{/if}

	{if $errors}
	    <div id='errorsDiv' class='innerError errorBox'>
	    {foreach item=errMsg from=$errors}
	        <div>{$errMsg}</div>
	    {/foreach}
	    {literal}<script>try{setTimeout("$('errorsDiv').fade( {from: 1, to: 0});",3000);}catch(e){}</script>{/literal}
	    </div>
	{/if}
	
	{if $notices}
	    <div id='noticeDiv' class='noticeBox' >
	    {foreach item=noticeMsg from=$notices}
	        <div>{$noticeMsg}</div>
	    {/foreach}
	    </div>
	    {literal}<script>try{setTimeout("$('noticeDiv').fade( {from: 1, to: 0});",3000);}catch(e){};</script>{/literal}
	{/if}

	</div>
	
		<div style="height:15px;">
		<div id='{$form.name}.load_disp' style="display:none;">
		<img  src="{$image_url}/form_ajax_loader.gif"/>
		</div>
		</div>
	
</div>

</form>