{php}
// get the breadcrumb list
$menuSvc = Bizsystem::GetObject('menu.lib.MenuService');
$breadCrumb = $menuSvc->getBreadCrumb();
$this->assign('breadCrumb', $breadCrumb);

$header_background_image = $this->_tpl_vars['header_background_image'];
$custom_header_background_image = APP_HOME.'/images/cubi_top_header.png';
if(file_exists($custom_header_background_image))
{
	$header_background_image_url = APP_URL.'/images/cubi_top_header.png';
	$this->assign('header_background_image_url', $header_background_image_url);
}
elseif($header_background_image)
{
	$header_background_image_url = RESOURCE_URL.$header_background_image;
	$this->assign('header_background_image_url', $header_background_image_url);
}
{/php}
<script>
var breadCrumb = {php} echo json_encode($breadCrumb); {/php};
</script>
<div id="header_bg">
	<div id="header" {if $header_background_image_url!='' } style="background-image:url({$header_background_image_url});" {/if}>
		<div id="header_left"></div>
		<div id="header_right">
			<div id="user_actions">
				<div style="height:18px;"></div>
				<!-- user actions start -->
				<ul>
					<li><a class="icon_home" href="{$app_index}/system/apps" target="_self">{t}Home{/t}</a></li>
					<li><a class="icon_setting" href="{$app_index}/system/general_default" target="_self">{t}Administration{/t}</a></li>
					<li><a class="icon_myaccount" href="{$app_index}/myaccount/my_profile" target="_self">{t}My Account{/t}</a></li>
					<!--<li><a class="icon_help" href="http://www.openbiz.me/web/product_cubi" target="_blank" >{t}Help{/t}</a></li>-->
					<li><a class="icon_logout" href="{$app_index}/user/logout" target="_self">{t}Logout{/t}</a></li>												
				</ul>
				<!-- user actions end -->					
			</div>
		</div>
	</div>	
</div>	