<form id='{$form.name}' name='{$form.name}' ng-controller="TableMenuController" ng-init="init('{$form.name}','{$form.dataService}','{$form.queryString}')">
<div style="padding-left:25px;padding-right:20px;">
	<div>
	<table><tr><td>
		{if $form.icon !='' }
		<div class="form_icon"><img  src="{$form.icon}" border="0" /></div>
		{/if}
		<div style="float:left; width:600px;">
		<h2>
		{$form.title}
		</h2> 
		<p class="form_desc">{$form.description}</p>
		</div>
	</td></tr></table>
	</div>

<div class="form_header_breadcrumb">
<a ng-click="listChildren('')">
<img border="0" src="{$image_url}/nav_root_icon.gif" style="margin-top:6px;" />
{t}Root{/t}</a> 
<a ng-repeat="pnode in parentNodes" ng-click="listChildren(pnode.Id)">
	<img class="icon_dot" border="0" src="{$image_url}/spacer.gif"/>{literal}{{{/literal}pnode.title{literal}}}{/literal}
</a>
</div>	
	
{if $actionPanel or $searchPanel }	
	<div class="form_header_panel">	
				<div class="action_panel">
		{foreach item=elem from=$actionPanel}
		    	{$elem.element}
		{/foreach}
				</div>
				<div class="search_panel">
		
		{foreach item=elem from=$searchPanel}
			{if $elem.label} {$elem.label} {/if} {$elem.element}
		{/foreach}
				</div>
	</div>
{/if}	
<div class="from_table_container">
<!-- table start -->
<table border="0" cellpadding="0" cellspacing="0" class="form_table" id="{$form.name}_data_table">
	<thead>		
     {foreach item=cell key=elems_name from=$dataPanel}	
     	{if $cell.type=='ColumnStyle'}
     		{assign var=row_style_name value=$elems_name}     	
		{else}
			{if $cell.type=='RowCheckbox'}
				{assign var=th_style value="text-align:left;padding-left:10px;"}
			{else}
				{assign var=th_style value=""}
			{/if}
         <th onmouseover="this.className='hover'" onmouseout="this.className=''" nowrap="nowrap" style="{$th_style}">
		 {if $cell.sortable=='Y'}<a href='' ng-click="sortRecord('{$cell.field}')">{$cell.label}</a>
		 {else}{$cell.label}
		 {/if}
		 </th>	 
		{/if}
     {/foreach}
	</thead>
	<tbody>
		<tr ng-repeat="dataobj in dataset" ng-click="selectRow($index)" ng-class-odd="'odd'" ng-class-even="'even'" ng-class="dataobj.selected==1?'selected':highlightclass" ng-mouseenter="highlightclass='hover'" ng-mouseleave="highlightclass=''">
		{foreach item=cell key=elems_name from=$dataPanel}
			<td>{$cell.element}</td>
		{/foreach}
		</tr>
	</tbody>
</table>
</div>
<!-- table end -->	

	<div class="form_footer_panel">
		<div class="navi_panel">
{if $navPanel}
   {foreach item=elem from=$navPanel}
   		{if $elem.label} <label style="width:68px;">{$elem.label}</label>{/if}
    	{$elem.element}
   {/foreach}
{/if}
		</div>		
	</div>
	
</div>
</form>