<form id='{$form.name}' name='{$form.name}'>
<script src="{$js_url}/cookies.js"></script>
<script src="{$js_url}/grouping.js"></script>

<link rel='stylesheet' type='text/css' href='{$js_url}/fullcalendar/examples/redmond/theme.css' />
<link rel='stylesheet' type='text/css' href='{$js_url}/fullcalendar/fullcalendar.css' />
<script type='text/javascript' src='{$js_url}/fullcalendar/jquery/jquery.js'></script>
<script type='text/javascript' src='{$js_url}/fullcalendar/jquery/jquery-ui-custom.js'></script>
<script type='text/javascript' src='{$js_url}/fullcalendar/fullcalendar.min.js'></script>
<script>var $j = jQuery.noConflict();</script>
{literal}

<style type='text/css'>
	#calendar {
		width: 700px;
		margin: 20px auto;
		}
</style>
{/literal}
{$form.taskData}
<div style="padding-left:25px;padding-right:20px;">
{include file="system_appbuilder_btn.tpl.html"}
	<table>
		<tr><td>
			{if $form.icon !='' }
			<div class="form_icon"><img  src="{$form.icon}" border="0" /></div>
			{/if}
			<div style="float:left; width:600px;">
				<h2>
				{$form.title}
				</h2> 
				<p class="form_desc">{$form.description}</p>
			</div>
		</td>
		</tr>
	</table>
{if $actionPanel or $searchPanel }	
	<div class="form_header_panel">	
				<div class="action_panel">
		{foreach item=elem from=$actionPanel}
		    	{$elem.element}
		{/foreach}
				</div>
				<div class="search_panel">
		
		{foreach item=elem from=$searchPanel}
			{if $elem.label} {$elem.label} {/if} {$elem.element}
		{/foreach}
				</div>
	</div>
{/if}
	<div class="from_table_container">
		<!-- table start -->
		<div id="calendar" onclick="Openbiz.CallFunction('tasks.form.TimelineListForm.SwitchForm(tasks.form.TasksNewForm)');"></div>
		<!-- table end -->
	</div>	
</div>
</form>