{php}if(preg_match('/iPad/si',$_SERVER['HTTP_USER_AGENT']) || preg_match('/iPhone/si',$_SERVER['HTTP_USER_AGENT'])){ {/php}
	<div id="footer" style="height:64px;">
{php}}else{{/php}
	<div id="footer">
{php}}{/php}	
		<div style="float:left; width:460px; height:60px;"></div>
		<div style="float:left; width:380px; height:60px;">
		<div style="padding-top:18px;"></div>
		<p>
		<a href="javascript:">{t}Privacy Statement{/t}</a> | 
		<a href="javascript:">{t}Terms of Use{/t}</a> | 
		<a href="javascript:">{t}Trademarks{/t}</a> | 
		<a href="javascript:">{t}Contact Us{/t}</a><br />
		<span>{t}Copyright 2003-2010 Openbiz LLC All Rights Reserved.{/t}</span>
		</p>			
	</div>	